<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2015 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>


   <extension
         point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            ActivityClass="org.polarsys.capella.transition.system2subsystem.interphases.activities.InitializeDiffMergeActivity"
            Identifier="org.polarsys.capella.transition.system2subsystem.interphases.activities.InitializeDiffMergeActivity"
            Multiple="false"
            Name="Interphases Initialization of Capella DiffMerge From Scope"
            WorkflowElementIdentifier="org.polarsys.kitalpha.transposer.after.rule.execution"
            WorkflowIdentifier="org.polarsys.kitalpha.transposer.workflow">
         <Description>
            This activity initialize Transposer for Capella Transformation execution.
         </Description>
      </ActivityDeclaration>
   </extension>
   
   
<extension
         id="org.polarsys.capella.transition.system2subsystem.interphases"
         name="InterPhases Transition Mapping"
         point="org.polarsys.kitalpha.transposer.rules.handler.mapping">
      <mapping
            context="org.polarsys.capella.core.transition.common.context.TransitionContext"
            description="An inter phases system to subsystem transition"
            domainHelper="org.polarsys.capella.core.transition.system.domain.CapellaTransitionDomainHelper"
            extendedMappingExtensionID="org.polarsys.capella.transition.system2subsystem"
            mappingName="InterPhases Transition"
            mappingPurpose="org.polarsys.capella.core.transition">
      
      
         <mappingPackage name="cs">
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.cs.Component"
                  reuseExtendedElementDefaultPossibility="false"
                  reuseExtendedElementPossibilities="false">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.cs.ComponentRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.cs.ComponentRule"
                     enabled="true"
                     name="Component">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.cs.Part"
                  reuseExtendedElementDefaultPossibility="false"
                  reuseExtendedElementPossibilities="false">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.cs.PartRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.cs.PartRule"
                     enabled="true"
                     name="Part">
               </defaultMappingPossibility>
            </mappingElement>
            
         </mappingPackage>
            
         <mappingPackage name="ctx">
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.ctx.SystemAnalysis"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.ctx.SystemAnalysisRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.ctx.SystemAnalysisRule"
                     enabled="true"
                     name="SystemAnalysis">
               </defaultMappingPossibility>
            </mappingElement>
         </mappingPackage>
         
         <mappingPackage name="la">
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.la.LogicalArchitecture"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.la.LogicalArchitectureRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.la.LogicalArchitectureRule"
                     enabled="true"
                     name="LogicalArchitecture">
               </defaultMappingPossibility>
            </mappingElement>
          </mappingPackage>
          
          <mappingPackage name="pa">
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.pa.PhysicalArchitecture"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.pa.PhysicalArchitectureRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.pa.PhysicalArchitectureRule"
                     enabled="true"
                     name="PhysicalArchitecture">
               </defaultMappingPossibility>
            </mappingElement>
            
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.pa.PhysicalComponent"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.pa.PhysicalComponentRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.interphases.rules.pa.PhysicalComponentRule"
                     enabled="true"
                     name="PhysicalComponent">
               </defaultMappingPossibility>
            </mappingElement>
         </mappingPackage>
         
      </mapping>
      
      
</extension>
<extension
      point="org.polarsys.kitalpha.cadence.core.activity.declaration">
   <ActivityDeclaration
         ActivityClass="org.polarsys.capella.transition.system2subsystem.interphases.activities.InitializeTransitionActivity"
         Identifier="org.polarsys.capella.transition.system2subsystem.interphases.activities.InitializeTransitionActivity"
         Multiple="false"
         Name="InitializeTransitionActivity"
         WorkflowElementIdentifier="org.polarsys.kitalpha.transposer.before.analysis"
         WorkflowIdentifier="org.polarsys.kitalpha.transposer.workflow">
      <Description>
         This activity initialize transition.
      </Description>
   </ActivityDeclaration>
</extension>

</plugin>
