<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2015 Thales Global Services
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
     Thales - initial API and implementation
-->
<plugin>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.capella.vp.perfo.vpdsl.description"
	        tags="vpdesc"
	        name="perfo"
	        path="/org.polarsys.capella.vp.perfo.vpdsl/model/perfo.vpdesc"/>
	</extension>


	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.capella.vp.perfo.vpdsl.resource.perfo.spec"
	        tags="Viewpoint"
	        name="spec"
	        path="/org.polarsys.capella.vp.perfo.vpdsl/model/perfo.spec.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.capella.vp.perfo.vpdsl.resource.perfo.data"
	        tags="Viewpoint"
	        name="data"
	        path="/org.polarsys.capella.vp.perfo.vpdsl/model/perfo.data.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.capella.vp.perfo.vpdsl.resource.perfo.conf"
	        tags="Viewpoint"
	        name="conf"
	        path="/org.polarsys.capella.vp.perfo.vpdsl/model/perfo.conf.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.capella.vp.perfo.vpdsl.resource.perfo.ui"
	        tags="Viewpoint"
	        name="ui"
	        path="/org.polarsys.capella.vp.perfo.vpdsl/model/perfo.ui.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.capella.vp.perfo.vpdsl.resource.perfo.diagram"
	        tags="Viewpoint"
	        name="diagram"
	        path="/org.polarsys.capella.vp.perfo.vpdsl/model/perfo.diagram.vptext"/>
	</extension>

</plugin>
