<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2015 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>

   <extension
         id="org.polarsys.capella.transition.system2subsystem"
         name="Transition Mapping"
         point="org.polarsys.kitalpha.transposer.rules.handler.mapping">
      <mapping
            context="org.polarsys.capella.core.transition.common.context.TransitionContext"
            description="A system to subsystem transition"
            domainHelper="org.polarsys.capella.core.transition.system.domain.CapellaTransitionDomainHelper"
            extendedMappingExtensionID="org.polarsys.capella.core.transition.system"
            mappingName="System to SubSystem Transition"
            mappingPurpose="org.polarsys.capella.core.transition">
         <mappingPackage
               name="common">
         </mappingPackage>
         
         <mappingPackage
               name="core">
               
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.capellacore.AbstractPropertyValue"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.core.PropertyValueRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.core.PropertyValueRule"
                     enabled="true"
                     name="PropertyValue">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.capellacore.Constraint"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.core.ConstraintRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.core.ConstraintRule"
                     enabled="true"
                     name="Constraint">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.capellacore.PropertyValuePkg"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.core.PropertyValuePkgRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.core.PropertyValuePkgRule"
                     enabled="true"
                     name="PropertyValuePkg">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.capellacore.PropertyValueGroup"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.core.PropertyValueGroupRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.core.PropertyValueGroupRule"
                     enabled="true"
                     name="PropertyValueGroup">
               </defaultMappingPossibility>
            </mappingElement>
            
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.capellacore.Involvement"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.ActorCapabilityInvolvementRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.ActorCapabilityInvolvementRule"
                     enabled="true"
                     name="CapabilityInvolvement">
               </defaultMappingPossibility>
            </mappingElement>
            
         </mappingPackage>
         
         <mappingPackage
               name="cs">
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.cs.Component"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.cs.ComponentRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.cs.ComponentRule"
                     enabled="true"
                     name="Component">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.cs.Interface"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.cs.InterfaceRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.cs.InterfaceRule"
                     enabled="true"
                     name="Interface">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.cs.Part"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.cs.PartRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.cs.PartRule"
                     enabled="true"
                     name="Part">
               </defaultMappingPossibility>
            </mappingElement>
            
            
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.cs.PhysicalLink"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.cs.PhysicalLinkRule"
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.cs.PhysicalLinkRule"
                     enabled="true"
                     name="PhysicalLink">
               </defaultMappingPossibility>
            </mappingElement>
            
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.cs.PhysicalLinkCategory"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.cs.PhysicalLinkCategoryRule"
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.cs.PhysicalLinkCategoryRule"
                     enabled="true"
                     name="PhysicalLinkCategory">
               </defaultMappingPossibility>
            </mappingElement>
            
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.cs.PhysicalPath"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.pa.PhysicalPathRule"
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.pa.PhysicalPathRule"
                     enabled="true"
                     name="PhysicalPath">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.cs.PhysicalPathInvolvement"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.pa.PhysicalPathInvolvementRule"
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.pa.PhysicalPathInvolvementRule"
                     enabled="true"
                     name="PhysicalPathInvolvement">
               </defaultMappingPossibility>
            </mappingElement>
            
            
         </mappingPackage>
         <mappingPackage
               name="ctx">
         </mappingPackage>
         <mappingPackage
               name="epbs">
         </mappingPackage>
         
         <mappingPackage name="fa">
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.fa.AbstractFunction"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.fa.AbstractFunctionRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.fa.AbstractFunctionRule"
                     enabled="true"
                     name="AbstractFunction">
               </defaultMappingPossibility>
            </mappingElement>
            
            
          <mappingElement
                domainMetaClass="org.polarsys.capella.core.data.fa.ComponentExchangeFunctionalExchangeAllocation"
                reuseExtendedElementDefaultPossibility="true"
                reuseExtendedElementPossibilities="true">
             <defaultMappingPossibility
                   completeRule="org.polarsys.capella.transition.system2subsystem.rules.fa.ComponentExchangeFunctionalExchangeAllocationRule"
                   incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.fa.ComponentExchangeFunctionalExchangeAllocationRule"
                   enabled="true"
                   name="ComponentExchangeFunctionalExchangeAllocation">
             </defaultMappingPossibility>
          </mappingElement>
            
          <mappingElement
                domainMetaClass="org.polarsys.capella.core.data.fa.ComponentExchange"
                reuseExtendedElementDefaultPossibility="true"
                reuseExtendedElementPossibilities="true">
             <defaultMappingPossibility
                   completeRule="org.polarsys.capella.transition.system2subsystem.rules.fa.ComponentExchangeRule"
                   incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.fa.ComponentExchangeRule"
                   enabled="true"
                   name="ComponentExchange">
             </defaultMappingPossibility>
          </mappingElement>
            
          <mappingElement
                domainMetaClass="org.polarsys.capella.core.data.fa.ComponentFunctionalAllocation"
                reuseExtendedElementDefaultPossibility="true"
                reuseExtendedElementPossibilities="true">
             <defaultMappingPossibility
                   completeRule="org.polarsys.capella.transition.system2subsystem.rules.fa.ComponentFunctionalAllocationRule"
                   incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.fa.ComponentFunctionalAllocationRule"
                   enabled="true"
                   name="ComponentFunctionalAllocation">
             </defaultMappingPossibility>
          </mappingElement>
            
          <mappingElement
                domainMetaClass="org.polarsys.capella.core.data.fa.FunctionalChain"
                reuseExtendedElementDefaultPossibility="true"
                reuseExtendedElementPossibilities="true">
             <defaultMappingPossibility
                   completeRule="org.polarsys.capella.transition.system2subsystem.rules.fa.FunctionalChainRule"
                   incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.fa.FunctionalChainRule"
                   enabled="true"
                   name="FunctionalChain">
             </defaultMappingPossibility>
          </mappingElement>
          
          <mappingElement
                domainMetaClass="org.polarsys.capella.core.data.fa.FunctionalChainInvolvement"
                reuseExtendedElementDefaultPossibility="true"
                reuseExtendedElementPossibilities="true">
             <defaultMappingPossibility
                   completeRule="org.polarsys.capella.transition.system2subsystem.rules.fa.FunctionalChainInvolvementRule"
                   incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.fa.FunctionalChainInvolvementRule"
                   enabled="true"
                   name="FunctionalChainInvolvement">
             </defaultMappingPossibility>
          </mappingElement>
          
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.fa.ComponentExchangeAllocation"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.pa.ComponentExchangeAllocationRule"
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.pa.ComponentExchangeAllocationRule"
                     enabled="true"
                     name="ComponentExchangeAllocation">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.fa.ComponentExchangeCategory"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.fa.ComponentExchangeCategoryRule"
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.fa.ComponentExchangeCategoryRule"
                     enabled="true"
                     name="ComponentExchangeCategory">
               </defaultMappingPossibility>
            </mappingElement>
            
         </mappingPackage>
         
         
         
         <mappingPackage
               name="interaction">
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.capellacommon.AbstractCapabilityPkg"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.AbstractCapabilityPkgRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.AbstractCapabilityPkgRule"
                     enabled="true"
                     name="AbstractCapabilityPkg">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.AbstractCapability"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.AbstractCapabilityRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.AbstractCapabilityRule"
                     enabled="true"
                     name="AbstractCapability">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.AbstractEnd"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.AbstractEndRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.AbstractEndRule"
                     enabled="true"
                     name="AbstractEnd">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.AbstractFunctionAbstractCapabilityInvolvement"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.AbstractFunctionAbstractCapabilityInvolvementRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.AbstractFunctionAbstractCapabilityInvolvementRule"
                     enabled="true"
                     name="AbstractFunctionAbstractCapabilityInvolvement">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.CombinedFragment"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.CombinedFragmentRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.CombinedFragmentRule"
                     enabled="true"
                     name="CombinedFragment">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.Event"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.EventRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.EventRule"
                     enabled="true"
                     name="Event">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.Execution"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.ExecutionRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.ExecutionRule"
                     enabled="true"
                     name="Execution">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.FragmentEnd"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.FragmentEndRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.FragmentEndRule"
                     enabled="true"
                     name="FragmentEnd">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.FunctionalChainAbstractCapabilityInvolvement"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.FunctionalChainAbstractCapabilityInvolvementRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.FunctionalChainAbstractCapabilityInvolvementRule"
                     enabled="true"
                     name="FunctionalChainAbstractCapabilityInvolvement">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.InstanceRole"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InstanceRoleRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InstanceRoleRule"
                     enabled="true"
                     name="InstanceRole">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.InteractionFragment"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InteractionFragmentRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InteractionFragmentRule"
                     enabled="true"
                     name="InteractionFragment">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.InteractionOperand"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InteractionOperandRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InteractionOperandRule"
                     enabled="true"
                     name="InteractionOperand">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.InteractionState"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InteractionStateRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InteractionStateRule"
                     enabled="true"
                     name="InteractionState">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.InteractionUse"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InteractionUseRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.InteractionUseRule"
                     enabled="true"
                     name="InteractionUse">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.Scenario"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.ScenarioRule"
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.ScenarioRule"
                     enabled="true"
                     name="Scenario">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.SequenceMessage"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.SequenceMessageRule"
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.SequenceMessageRule"
                     enabled="true"
                     name="SequenceMessage">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.TimeLapse"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.TimeLapseRule"
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.TimeLapseRule"
                     enabled="true"
                     name="TimeLapse">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.polarsys.capella.core.data.interaction.StateFragment"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     incompleteRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.StateFragmentRule"
                     completeRule="org.polarsys.capella.transition.system2subsystem.rules.interaction.StateFragmentRule"
                     enabled="true"
                     name="StateFragment">
               </defaultMappingPossibility>
            </mappingElement>
         </mappingPackage>
         
         <mappingPackage
               name="la">
          </mappingPackage>
          
         <mappingPackage
               name="pa">
               
               
         </mappingPackage>
         
       </mapping>
</extension>


    <extension
         point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            ActivityClass="org.polarsys.capella.transition.system2subsystem.activities.DifferencesComputingActivity"
            Identifier="org.polarsys.capella.transition.system2subsystem.activities.DifferencesComputingActivity"
            Multiple="false"
            Name="Computation of differences"
            WorkflowElementIdentifier="org.polarsys.kitalpha.transposer.after.rule.execution"
            WorkflowIdentifier="org.polarsys.kitalpha.transposer.workflow">
         <Description>
            This activity initialize Transposer for Capella Transformation execution.
         </Description>
      </ActivityDeclaration>
   </extension>
   
   
   <extension
         point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            ActivityClass="org.polarsys.capella.transition.system2subsystem.activities.DifferencesFilteringActivity"
            Identifier="org.polarsys.capella.transition.system2subsystem.activities.DifferencesFilteringActivity"
            Multiple="false"
            Name="Selection of differences"
            WorkflowElementIdentifier="org.polarsys.kitalpha.transposer.after.rule.execution"
            WorkflowIdentifier="org.polarsys.kitalpha.transposer.workflow">
         <Description>
            This activity initialize Transposer for Capella Transformation execution.
         </Description>
      </ActivityDeclaration>
   </extension>
   
   <extension
         point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            ActivityClass="org.polarsys.capella.transition.system2subsystem.activities.FinalizeSubsystemTransitionActivity"
            Identifier="org.polarsys.capella.transition.system2subsystem.activities.FinalizeSubsystemTransitionActivity"
            Multiple="false"
            Name="FinalizeSubsystemTransitionActivity"
            WorkflowElementIdentifier="transition.workflow.finalization"
            WorkflowIdentifier="org.polarsys.kitalpha.transposer.workflow">
         <Description>
            Deletes the temporary transformation project
         </Description>
      </ActivityDeclaration>
   </extension>
   
<extension
         point="org.polarsys.capella.common.flexibility.properties">
      <properties
            id="capella.core.transition.system2subsystem">
            <inheritance properties="capella.core.transition.system" />
            
            
         <group
               id="outputModel"
               name="%group.outputModel"
               parent="defaultGroup">
         </group>
         
         <property
               class="org.polarsys.capella.core.transition.system.preferences.OutputModelPreference"
               enabled="true"
               group="outputModel"
               id="outputModel"
               name="%property.outputModel">
            <argument
                  id="scope"
                  value="capella.core.transition">
            </argument>
         </property>
         
         
         <group
               id="dataInterfaces"
               name="%group.dataInterfaces"
               parent="defaultGroup">
         </group>
         <group
               id="composites"
               name="%group.composites"
               parent="defaultGroup">
         </group>
         <group
               id="diagramExport"
               name="%group.diagramExport"
               parent="defaultGroup">
         </group>
         <group
               id="propertyValues"
               name="%group.propertyValues"
               parent="extensionGroup">
         </group>
         <property
               class="org.polarsys.capella.common.flexibility.properties.property.BooleanPropertyPreference"
               enabled="false"
               group="dataInterfaces"
               id="dataExport"
               name="%property.dataExport">
               
               <argument id="scope" value="capella.core.transition.system2subsystem"></argument>
               <argument
                     id="default"
                     value="true">
               </argument>
         </property>
         <property
               class="org.polarsys.capella.common.flexibility.properties.property.BooleanPropertyPreference"
               enabled="false"
               group="dataInterfaces"
               id="interfaceExport"
               name="%property.dataInterfaces">
               <argument id="scope" value="capella.core.transition.system2subsystem"></argument>
               <argument
                     id="default"
                     value="true">
               </argument>
         </property>
         <property
               class="org.polarsys.capella.common.flexibility.properties.property.PropertyPreference"
               enabled="true"
               group="defaultGroup"
               id="stateModesExport"
               name="%property.stateModesExport">
            <argument
                  id="scope"
                  value="capella.core.transition.system2subsystem">
            </argument>
            <argument
                  id="default"
                  value="hierarchyReference">
            </argument>
            <option
                  enabled="true"
                  id="stateModesExport.onlyReference"
                  name="%property.stateModesExport.onlyReference"
                  value="onlyReference">
            </option>
            <option
                  enabled="true"
                  id="stateModesExport.hierarchyReference"
                  name="%property.stateModesExport.hierarchyReference"
                  value="hierarchyReference">
            </option>
         </property>
         <property
               class="org.polarsys.capella.common.flexibility.properties.property.BooleanPropertyPreference"
               enabled="false"
               group="composites"
               id="functionalChainExport"
               name="%property.functionalChainExport">
               <argument id="scope" value="capella.core.transition.system2subsystem"></argument>
               <argument
                     id="default"
                     value="true">
               </argument>
         </property>
         <property
               class="org.polarsys.capella.common.flexibility.properties.property.BooleanPropertyPreference"
               enabled="true"
               group="composites"
               id="scenarioExport"
               name="%property.scenarioExport">
               <argument id="scope" value="capella.core.transition.system2subsystem"></argument>               
               <argument
                     id="default"
                     value="false">
               </argument>
         </property>
         <property
               class="org.polarsys.capella.common.flexibility.properties.property.BooleanPropertyPreference"
               enabled="false"
               group="diagramExport"
               id="diagramExport"
               name="%property.diagramExport">
               <argument id="scope" value="capella.core.transition.system2subsystem"></argument>
               <argument
                     id="default"
                     value="false">
               </argument>
         </property>
         
         <property
               class="org.polarsys.capella.common.flexibility.properties.property.PropertyPreference"
               enabled="true"
               group="defaultGroup"
               id="hierachicalExport"
               name="%property.hierachicalExport">
               <argument id="scope" value="capella.core.transition.system2subsystem"></argument>
               <argument
                     id="default"
                     value="leaf">
               </argument>
            <option
               enabled="true"
               id="hierachicalExport.all"
               name="%property.hierachicalExport.all"
               value="all">
         </option>
         <option
               enabled="true"
               id="hierachicalExport.restricted"
               name="%property.hierachicalExport.restricted"
               value="restricted">
         </option>
         <option
               enabled="true"
               id="hierachicalExport.leaf"
               name="%property.hierachicalExport.leaf"
               value="leaf">
         </option>
         </property>
         <property
               class="org.polarsys.capella.transition.system2subsystem.preferences.PropertyValuesPreference"
               enabled="true"
               group="propertyValues"
               id="propertyValuesExport"
               name="%property.propertyValues">
            <argument
                  id="scope"
                  value="capella.core.transition.system2subsystem">
            </argument>
            <argument
                  id="default"
                  value="">
            </argument>
         </property>
      </properties>
   </extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer
         class="org.polarsys.capella.transition.system2subsystem.SubsystemPreferences">
   </initializer>
</extension>

</plugin>
