<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2006, 2015 THALES GLOBAL SERVICES.
   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
   which accompanies this distribution, and is available at
   http://www.eclipse.org/legal/epl-v10.html
     
   Contributors:
      Thales - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/pa/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.pa.PaPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/pa/deployment/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.pa.deployment.DeploymentPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/cs/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.cs.CsPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/information/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.information.InformationPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/information/communication/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.information.communication.CommunicationPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/information/datatype/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.information.datatype.DatatypePackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/information/datavalue/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.information.datavalue.DatavaluePackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/common/behavior/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.behavior.BehaviorPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/modeller/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.capellamodeller.CapellamodellerPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/fa/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.fa.FaPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/oa/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.oa.OaPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/requirement/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.requirement.RequirementPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/interaction/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.interaction.InteractionPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/core/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.capellacore.CapellacorePackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/sharedmodel/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.sharedmodel.SharedmodelPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/common/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.capellacommon.CapellacommonPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/common/activity/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.activity.ActivityPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/kitalpha/emde/1.0.0/semantic"
            class="org.polarsys.capella.core.semantic.data.emde.EmdePackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/common/core/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.modellingcore.ModellingcorePackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/la/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.la.LaPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/ctx/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.ctx.CtxPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.polarsys.org/capella/core/epbs/0.8.0/semantic"
            class="org.polarsys.capella.core.semantic.data.epbs.EpbsPackage"
            genModel="model/simplified.genmodel"/>
   </extension>

</plugin>
