<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
This program and the accompanying materials are made available under the
terms of the Eclipse Public License 2.0 which is available at
http://www.eclipse.org/legal/epl-2.0

SPDX-License-Identifier: EPL-2.0
 
Contributors:
  Thales - initial API and implementation
-->

<?eclipse version="3.2"?>
<plugin>
   <extension-point id="launcher" name="Docgen Capella Launcher" schema="schema/launcher.exsd"/>

<extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.polarsys.capella.docgen.ui.actions.HTMLDocumentationGenerationActionProvider"
            id="capella.project.explorer.actions.htmlGendoc">
         <enablement>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="aird">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="org.polarsys.capella.core.data.capellacore.NamedElement">
                     </instanceof>
                     <not>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IFile">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="aird">
                           </test>
                        </and>
                     </not>
                  </and>
               </or>
            </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.egf.core.fcore">
      <fcore
            id="egf/capellalauncher.fcore">
      </fcore>
   </extension>
  
</plugin>
