<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2006, 2015 THALES GLOBAL SERVICES.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
   
 Contributors:
    Thales - initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:capella.project.explorer#PopupMenu?after=additions">
         <menu
               id="pivotXML"
               label="Pivot XML">
            <command
                  commandId="org.polarsys.capella.xmlpivot.ui.commands.DefaultExport"
                  label="Export"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
               <parameter
                     name="org.polarsys.capella.xmlpivot.ui.dynamicExport"
                     value="true">
               </parameter>
            </command>
             <command
                   commandId="org.polarsys.capella.xmlpivot.ui.mergeCommand"
                   label="Merge with existing Capella Project"
                   style="push">
                <parameter
                      name="org.polarsys.capella.xmlpivot.ui.dynamicMerge"
                      value="true">
                </parameter>
                <visibleWhen
                      checkEnabled="true">
                </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
       <category
            description="Category containing commands for XML Pivot Export"
            id="org.polarsys.capella.xmlpivot.ui.exporterCategory"
            name="XML Pivot Export">
      </category>
      <command
            id="org.polarsys.capella.xmlpivot.ui.commands.DefaultExport"
            categoryId="org.polarsys.capella.xmlpivot.ui.exporterCategory"
            name="Default Export">
         <commandParameter
               id="org.polarsys.capella.xmlpivot.ui.dynamicExport"
               name="dynamicExport"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.polarsys.capella.conceptual.ui.importCommand"
            name="Import">
         <commandParameter
               id="org.polarsys.capella.xmlpivot.ui.dynamicImport"
               name="dynamicImport"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.polarsys.capella.xmlpivot.ui.mergeCommand"
            name="Merge with existing Capella Project">
         <commandParameter
               id="org.polarsys.capella.xmlpivot.ui.dynamicMerge"
               name="dynamicMerge"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.capella.xmlpivot.ui.ImportHandler"
            commandId="org.polarsys.capella.conceptual.ui.importCommand">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="xml">
                     </test>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.polarsys.capella.xmlpivot.ui.ExportHandler"
            commandId="org.polarsys.capella.xmlpivot.ui.commands.DefaultExport">
            <activeWhen>
            <iterate>
               <instanceof
                     value="org.polarsys.capella.core.data.capellacore.CapellaElement">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="org.polarsys.capella.xmlpivot.ui.MergeHandler"
            commandId="org.polarsys.capella.xmlpivot.ui.mergeCommand">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="xml">
                     </test>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
     
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.xmlpivot.ui.prefs.XMLPivotPreferencePage"
            id="org.polarsys.capella.xmlpivot.ui.preferencePage"
            name="XML Pivot Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            class="org.polarsys.capella.xmlpivot.ui.NewCapellaProjectWizard"
            finalPerspective="capella.sirius.perspective"
            hasPages="true"
            icon="icons/capella_16.png"
            id="org.polarsys.capella.xmlpivot.ui.newCapellaProjectFromExistingModel"
            name="Capella Project from XML Pivot"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="capella.sirius.perspective">
         <newWizardShortcut
               id="org.polarsys.capella.xmlpivot.ui.newCapellaProjectFromExistingModel">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="all-categorized-capella"
            type="new"
            wizardId="org.polarsys.capella.xmlpivot.ui.newCapellaProjectFromExistingModel">
         <enablement></enablement>
      </commonWizard>
      <actionProvider
            class="org.polarsys.capella.xmlpivot.ui.XMLPivotActionProvider"
            id="capella.project.explorer.actions.xmlpivot">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="xml">
               </test>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polarsys.capella.xmlpivot.ui.editor.CapellamodellerEditor$Dynamic"
            contributorClass="org.polarsys.capella.xmlpivot.ui.editor.CapellamodellerActionBarContributor"
            default="true"
            extensions="xml"
            icon="icons/capella_16.png"
            id="org.polarsys.capella.xmlpivot.ui.editor.dynamic"
            name="XMLPivot Editor">
      </editor>
   </extension>

</plugin>
